

.header {
  background-color: rgb(209, 204, 204);
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
  }
  
  .header h1 {
    color: green;
    margin: 0;
    font-size: 2em;
  }
  
  .header p {
    color: green;
    margin: 0;
    font-size: 1.2em;
  }
  